<% @page_title = "Create Video Record" %>

<div class="btn" role="button"><%= link_to("<< Back to All Videos", videos_path, :class => 'back-link') %></div>

<div class="videos new">
  <h2>Create Video Record</h2>

  <%= form_for(@video) do |f| %>
    <!--
    **Don't have to spell out the whole 'create' action:
     form_for(@video, :url => videos_path, :method => 'post')
    **form_for knows the way you create a new form via resourceful routes is, by default, you post a request to that url.
     -->

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create Record") %>
    </div>

  <% end %>

</div>
