<% @page_title = "Update Scholar Record" %>

<div class="btn" role="button"><%= link_to("<< Back to List", scholars_path, :class => 'back-link') %></div>

<div class="scholars edit">
  <h2>Update Scholar Record</h2>

  <%= form_for(@scholar) do |f| %>
    <!--
    **Don't have to spell out the whole 'create' action:
     form_for(@scholar, :url => scholars_path, :method => 'patch')
    **form_for knows the way you update a form via resourceful routes is, by default, you patch a request to that url. But actually for external purposes Rails converts to a post request and does the behind the scenes switching on its own. Yay!
     -->

<%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Scholar") %>
    </div>

  <% end %>

</div>
