<!-- <h1>Sitcom Reader: Video Companion Site</h1> -->

<h1 id="header">About</h1>

<br />

<div id="about">
<div class="row">
  <div class="col-xs-7">
    <p>
      This site marks one interface of my teaching and scholarship, and I'm happy to share it with you.
    </p>
    <p>
      Along with Laura R. Linder, I am co-editor of <i>The Sitcom Reader: America Re-viewed, Still Skewed</i>.  When I decided to build my undergraduate seminar Culture and the Sitcom around the book and to develop an online version of the course, I decided to interview contributors to the anthology to make the class come alive in a new way for my students.
    </p>
    <p>
      Feel free to include the content here in your own classes, use it as a resource for your own scholarship, or watch and read the interviews for fun. Just use the interviews here in whatever ways they work for you!

    </p>
    <p>
      Except where otherwise noted, content on this site is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License. Please attribute as follows:
    </p>
    <ul>
      <li>
        For redistributing verbatim copies of content from this site: <i>This material was created by Mary Dalton and published under a Creative Commons Attribution NonCommerical 4.0 license at </i>build.zsr.wfu.edu/sitcomreader<i>.</i>
      </li>
      <li>
        For redistributing revised or remixed versions of content on this site: <i>This material is based on original material by Mary Dalton, which was published under a Creative Commons Attribution NonCommercial 4.0 license at </i>build.zsr.wfu.edu/sitcomreader<i>.</i>
      </li>
    </ul>
  </div>
  <div class="col-xs-5">
    <div class="bioPic">
    <%= image_tag("maryDalton.png", :alt => "Mary Dalton") %>
    <p style="text-align:center;"><b><span style="font-size:larger;">Mary M. Dalton</span><br />Professor of Communication and of Film and Media Studies<br /> Wake Forest University</b></p>
    </div>
  </div>
</div>
<h3>
  You can learn more about Mary M. Dalton's work at <%= link_to "marymdalton.com", "http://www.marymdalton.com/" %> and can contact her at dalton@wfu.edu.
</h3>
</div>
