<h1 id="header">Critical Media Studies: Student Essays on Contemporary Sitcoms</h1>

<br />
<div class="bookCover">
<%= image_tag("criticalMediaStudiesBookCover.png", :alt => "Critical Media Studies: Student Essays on Contemporary Sitcoms") %>
</div>

<h3 style="text-align:center;">Available soon.</h3>
