// Colors
$peach:       rgb(249, 223, 207);
$purpleBlue:  rgb(85, 101, 162);
$lightBlue:   rgb(122, 196, 209);
$orange:      rgb(241, 192, 135);
$pink:        rgb(232, 145, 168);

// Fonts
$font-main: Arial, Verdana, Helvetica, sans-serif;
$font-header-larger: Arial Helvetica, sans-serif;
$font-header-smaller: Tahoma, Arial, Helvetica, sans-serif;

// Font sizes
$main: 14px;
